body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
}